button{
    background-color: #eae3dc;
    border: none; 
    color: #444b5a;
    height: 70px;
    width: 70px;
    place-self: center;
    font-size: 35px;
    font-weight: 900;
    border-bottom: 5px solid gray;
    border-radius: 15px;
}

button:active{
    margin-top: 5px;
}


