body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4764;

  .calculator {
    height: 650px;
    width: 90vw;
    max-width: 400px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .change {
      position: absolute;
      top: -30px;
      left: 10px;
      color: #eae3dc;
      width: 90vw;
      max-width: 400px;
      display: flex;
    }
    .controls {
      background-color: #232c43;
      width: 90%;
      height: 70%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 5px;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
